{% extends 'base.html' %}


{%block heading%}

<div class="container" style="padding-top: 10%;padding-left: 7%;">
    <div class="row">
        <div class="col-4 ">
            <div class="card text-dark border-success bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header" style="text-align: center;"> <b> START </b> </div>
                <div class="card-body">
                  <p class="card-text"> Start The Election </p>
                  <button> START </button>
                </div>
              </div>            
        </div>
        <div class="col-4 ">
            <div class="card text-dark border-success bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header"style="text-align: center;">  <b> RESULT  </b> </div>
                <div class="card-body">
                  <p class="card-text"> Result of The Election </p>
                  <button> START </button>
                </div>
              </div>
        </div>
        <div class="col-4 ">
            <div class="card text-dark border-success bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header"style="text-align: center;">  <b> END </b> </div>
                <div class="card-body">
                  <p class="card-text"> END The Election </p>
                  <button> START </button>
                </div>
              </div>
        </div>
    </div>
</div>

{%endblock%}