{% extends 'base.html' %}
    
{% block heading %}
<div class="container" style="padding-top:1%;">
    <div class="row">
        <div class="col-8 offset-2">
            
            <div class="card bg-light mb-3" style="max-width: 50rem;">
                <div class="card-header" style="text-align: center;"><h3><b> DApp Voting System </b></h3></div>
                <div class="card-body">
                    <div class="card border-dark mb-3" >
                        <img class="card-img-top" src="\static\Blockchain.png" alt="Card image cap" style="padding:0.5%;">  
                            <div class="align-bottom">
                                <p class="card-text" style="text-align: center;padding-top: 10%;margin-left:5%;margin-right:5%;margin-bottom:5%;">
                                    <b>Abstract:</b><br> 
                                    Online voting is a trend that is gaining momentum in modern society. It has great potential
                                    to decrease organizational costs and increase voter turnout. It eliminates the need to print ballot
                                    papers or open polling stations—voters can vote from wherever there is an Internet connection.
                                    Despite these benefits, online voting solutions are viewed with a great deal of caution because
                                    they introduce new threats. A single vulnerability can lead to large-scale manipulations of votes.
                                    Electronic voting systems must be legitimate, accurate, safe, and convenient when used for elections.
                                    Nonetheless, adoption may be limited by potential problems associated with electronic voting systems. Blockchain technology came into the ground to overcome these issues and offers decentralized
                                    nodes for electronic voting and is used to produce electronic voting systems mainly because of
                                    their end-to-end verification advantages. This technology is a beautiful replacement for traditional
                                    electronic voting solutions with distributed, non-repudiation, and security protection characteristics.
                                    
                                </p>
                            </div>
                 </div>
              </div>

        </div>
    </div>
</div>

{% endblock %}