{% extends 'base.html' %}
    
{% block heading %}
<div class="container" style="padding-top:1%;">
    <div class="row">
        <div class="col-8 offset-2">
            
            <div class="card bg-light mb-3" style="max-width: 50rem;">
                <div class="card-header" style="text-align: center;"><h3><b> PROJECT </b></h3></div>
                <div class="card-body">
                    <div class="card border-dark mb-3" >
                        <img class="card-img-top" src="\static\Blockchain.png" alt="Card image cap" style="padding:0.5%;">  
                            <div class="align-bottom">
                                <div class="card-img-overlay">
                                </div>
                            </div>
                 </div>
              </div>

        </div>
    </div>
</div>

{% endblock %}