{% extends 'base.html' %}


{% block heading %}
    
    <div class="container">
        <div class="row" style="padding:7%;"></div>
        <div class="row">
            <div class="col-10 offset-1">
                <div class="card text-dark bg-primary mb-3" >
                    <div class="card-body">
                    <h1 class="card-title" style="color:white; text-align: center;text-shadow: 0 0 10px black;"> YOU HAVE VOTED SUCCESFULLY </h1>
                    </div>        
            </div>
            <div class="row"></div>
            </div>
    </div>
    
{% endblock %}